In [23]:
import requests
import json
import pandas as pd
from config import ETHERSCAN_KEY

# Import or enter your etherscan key
etherscan_key = ETHERSCAN_KEY

# Either enter addresses here or import from config file.
# from config import ADDRESS_LIST
# address_list = ADDRESS_LIST

# Example with random addresses
address_list = ["0x51CB3Fdd4fdc7F31f01807Df8082929A6914fd37", 
                "0xC5580e91e14E3aF86E9D3d4120A02e75b9766B78", 
                "0x2481b8230C8c2Fd4d2ef10a46dc83d261eEC25E0",
                "0x5106acC539A79560a71131F732B518B316e239E5",
                "0x24051430c367573Fbfe1531d646eD40765CD22BD",
                "0xB86FafF3DFa952A30fA0427140BaFa01CE69FEA2",
                "0x5e72c4b118FCf0b83C2F53e16B372654907f1D6e",
                "0x0196F04221b693B74842DD9b9EfC54B72A51949f",
                "0x5857D9607Eeee5151415Ffc5D06c2f5443dbA378",
                "0x48F1C621aa39770CD86Af720182C890b4C58B8C0",]

# startblock
startblock = 0

# endblock
endblock = 99999999

tx_counts = []
tx_costs = []

for address in address_list:
    # get transactions and transform to JSON
    print("Processing address", address)
    normal_transactions = requests.get(f'http://api.etherscan.io/api?module=account&action=txlist&address={address}&startblock={startblock}&endblock={endblock}&sort=asc&apikey={etherscan_key}').json()
    
    # get transaction data for address
    tx_cost = 0
    tx_count = 0
    for tx in normal_transactions["result"]:
        if tx["from"] == address.lower():
            tx_cost += int(tx["gasPrice"])*int(tx["gasUsed"])
            tx_count += 1
    tx_costs.append(tx_cost/10**18)
    tx_counts.append(tx_count)


tx_data = {"Address" : address_list,
           "Tx count" : tx_counts,
           "Tx cost (ETH)": tx_costs}

# Create the DataFrame and add total row
df = pd.DataFrame(tx_data)
df.sort_values(by=['Tx cost (ETH)'],ascending=False)
df.loc['Total']= df.sum(numeric_only=True)
df = df.astype({"Tx count": int})

# Sort by total tx cost
df.sort_values(by=['Tx cost (ETH)'],ascending=False)

Processing address 0x51CB3Fdd4fdc7F31f01807Df8082929A6914fd37
Processing address 0xC5580e91e14E3aF86E9D3d4120A02e75b9766B78
Processing address 0x2481b8230C8c2Fd4d2ef10a46dc83d261eEC25E0
Processing address 0x5106acC539A79560a71131F732B518B316e239E5
Processing address 0x24051430c367573Fbfe1531d646eD40765CD22BD
Processing address 0xB86FafF3DFa952A30fA0427140BaFa01CE69FEA2
Processing address 0x5e72c4b118FCf0b83C2F53e16B372654907f1D6e
Processing address 0x0196F04221b693B74842DD9b9EfC54B72A51949f
Processing address 0x5857D9607Eeee5151415Ffc5D06c2f5443dbA378
Processing address 0x48F1C621aa39770CD86Af720182C890b4C58B8C0

                                          Address  Tx count  Tx cost (ETH)
Total                                         NaN      1558       0.539907
3      0x5106acC539A79560a71131F732B518B316e239E5       210       0.157884
8      0x5857D9607Eeee5151415Ffc5D06c2f5443dbA378       710       0.108958
2      0x2481b8230C8c2Fd4d2ef10a46dc83d261eEC25E0       207       0.089119
0      0x51CB3Fdd4fdc7F31f01807Df8082929A6914fd37       251       0.050463
9      0x48F1C621aa39770CD86Af720182C890b4C58B8C0        47       0.048742
1      0xC5580e91e14E3aF86E9D3d4120A02e75b9766B78        48       0.027760
4      0x24051430c367573Fbfe1531d646eD40765CD22BD        24       0.027026
7      0x0196F04221b693B74842DD9b9EfC54B72A51949f        37       0.017283
6      0x5e72c4b118FCf0b83C2F53e16B372654907f1D6e        23       0.012420
5      0xB86FafF3DFa952A30fA0427140BaFa01CE69FEA2         1       0.000252